@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: roboto;
  src: url("./assets/Roboto-Regular.ttf");
}
@font-face {
  font-family: roboto-mono;
  src: url("./assets/RobotoMono-Regular.ttf");
}

.font-mono {
  font-family: roboto-mono;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(
    circle at center,
    white 20%,
    var(--input-thumb) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
}

:root {
  --tw-bg-opacity: 1;
  --track-bg: rgb(243 244 246);
  --input-bg: #f4f4f4;
  --scroll-thumb: #dddddd;
  --input-thumb: #d6d6d6;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 5px;
  height: 10px;
  background: var(--input-bg);
  outline: none;
  cursor: ew-resize;
  /* opacity: 0.7; */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 25px;
  border: 2px solid var(--track-thumb);
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 10px;
  border-radius: 25px;
  background: var(--input-thumb);
  border: none;
  /* cursor: pointer; */
  /* cursor: ew-resize; */
}

input[type="range"]:hover::-moz-range-thumb {
  background: rgb(107 114 128 / var(--tw-text-opacity));
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background-color: var(--scroll-thumb);
}
::-webkit-scrollbar-corner {
  background-color: var(--scroll-thumb);
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
* {
  -ms-overflow-style: auto;
  scrollbar-color: var(--scroll-thumb) var(--track-bg);
  scrollbar-width: thin;
}
::selection {
  /* color: lightgray; */
  background: var(--scroll-thumb);
}
